 <h1>Create Quote</h1>
 <div>
     <form action="">
         <p>Enter a new quote here.</p>
         <textarea class="form-control" placeholder="Enter your quote.." name="Quote" id="" type="text" autocomplete="off"></textarea>
         <input class="form-control" type="text" placeholder="Author eg. Nelson Mandela" name="Author" autocomplete="off">
         <input class="form-control" type="text" placeholder= "Publisher eg. Submitted by Perez" name="Publisher" autocomplete="off">
         <button type="submit" class="btn btn-success">Submit Quote</button>
     </form>
 </div>