 <h1>Create Quote</h1>
 <div>
     <form (ngSubmit)='submitQuote'>
         <p>Enter a new quote here.</p>
         <textarea class="form-control" placeholder="Enter your quote.." name="Quote" [(ngModel)]="thequote" id="" type="text" autocomplete="off"></textarea>
         <input class="form-control" type="text" placeholder="Author eg. Nelson Mandela" name="Author" [(ngModel)]="quoteauthor" autocomplete="off">
         <input class="form-control" type="text" placeholder= "Publisher eg. Submitted by Perez" name="Publisher" [(ngModel)]="quotepublisher" autocomplete="off">
         <button type="submit" class="btn btn-success">Submit Quote!</button>
     </form>
     <hr>
    <div>
        <p>New quote: {{thequote}}</p>
        <p>Author:<span>{{quoteauthor}}</span></p>
        <p>Publisher:<span>{{quotepublisher}}</span></p>
    </div>
    <hr>
    <div>
        <div *ngFor="let newq of newQuotes">
            <p>{{newq.thequote}}</p>
            <h5>{{newq.quoteauthor}}</h5>
            <h5>{{newq.quotepublisher}}</h5>
            <br>
        </div>
    </div>
 </div>