/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.margin-none{
    margin: 0rem;
}
#deletequote{
    border: 4rem;
}
textarea{
    margin-bottom: 2rem;
}
input{
    margin-bottom: 2rem;
}
*{
    background-image: url(https://besthqwallpapers.com/Uploads/30-12-2020/149719/thumb2-dark-blue-lines-background-abstract-blue-background-creative-blue-background-lines-background.jpg);
}
h1{
    color: white;
}
p{
    
}