/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.margin-none{
    margin: 0rem;
}
#deletequote{
    border: 4rem;
}
textarea{
    margin-bottom: 2rem;
}
input{
    margin-bottom: 2rem;
}
*{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyMm7avHd3mqf2szRcuI_EID9bG_C2aaj3UA&usqp=CAU);
    background-repeat: no-repeat;
}